
<!-- Copyright (C) 2020-2021 LEIDOS.
Licensed under the Apache License, Version 2.0 (the "License"); you may not
use this file except in compliance with the License. You may obtain a copy of
the License at
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations under
the License.
-->

<launch>
    <arg name="host_name" default="192.168.88.28" doc="Custom configured IP of the lightbar on all cars"/> 
    <arg name="port" default="80" doc="Custom configured IP port of the lightbar on all cars."/>
    <arg name="auth_config_file" default= "/opt/carma/vehicle/calibration/lightbar/auth_config.yaml"  doc="File containing Username and Password for the Lightbar IP"/>
    <arg name="status_update_rate" default="2" doc="Rate (in sec) at which lighbar will publish to light_bar_status topic"/>

    <node name="lightbar" pkg="lightbar_driver" type="lightbar_driver_node" output="screen">
        <param name= "host_name" value = "$(arg host_name)"/>
        <param name= "port" value = "$(arg port)"/>
        <param name= "status_update_rate" value = "$(arg status_update_rate)"/>
        <rosparam command="load" file= "$(arg auth_config_file)"/>
    </node>
</launch>
